  <div id="shopify-section-footer" class="shopify-section" bis_skin_checked="1"><footer id="footer" class="footer">
  <div class="footer__container page-width" bis_skin_checked="1">
      <ul>
        
          <li class="footer__menu-title">
            Quick links
          </li>
        
        
          <li><a href="localhost:8080/blogs/news" bis_skin_checked="1">Resources</a></li>
        
      </ul>
    
<ul class="social-links">
      
        <li class="footer__menu-title">
          Follow us
        </li>
      

      

        

        

      

        

        

      

        

        

      

        

        

      

        

        

      

        

        

      

        

        

      

        

        

      

        

        

      
    </ul>
    <div class="footer__newsletter" bis_skin_checked="1">
      <form method="post" action="localhost:8080/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓">
  
  
    <input type="hidden" name="contact[tags]" value="newsletter">
    <div class="newsletter--form" bis_skin_checked="1">
      
        <div class="input-group" bis_skin_checked="1">
          <h5 class="footer__menu-title">Sign up for our newsletter</h5>
        </div>
